.App{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
}

.app-title{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.app-title__video{
  display: inline-flex;
}

.app-title video{
  display: flex;
  width: 50%;
}

.app-title__info{
  display: inline-flex;
  position: absolute;
  z-index: 5;
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: white;
  padding-left: 20px;
}

.app-title__info h1{
  padding: 0;
  margin: 0;
}

.app-title__info h1 span{
  animation-duration: 3s;
  animation-name: letter;
  animation-iteration-count: infinite;
}

.app-title__info button{
  margin-top:20px;
  display: flex;
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  user-select: none;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  animation-duration: 5s;
  animation-name: logo;
  animation-iteration-count: infinite;
}

.app-title__info button:hover{
  background: white;
  cursor: pointer;
}

.app-title__info button:active{
  background: black;
  cursor: pointer;
}

.app-content{
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 5;
}

.app-content__main-page{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.app-content__main-page__buttons{
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
}

.app-main-page__personal-button button, .app-main-page__history-button button{
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  user-select: none;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  width: 300px;
}

.app-main-page__personal-button button:hover, .app-main-page__history-button button:hover{
  background: rgba(255,255,255,.2);
  cursor: pointer;
  color: red;
}

.app-main-page__personal-button button:active, .app-main-page__history-button button:active{
  background: red;
  cursor: pointer;
  color: white;
}

.app_content__main-page__names-buttons{
  margin-top: 20px;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.app_content__main-page__names-buttons button:hover{
  cursor: pointer;
  color: white;
}


.app-main-page__content__personal-content__title{
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.app-main-page__content__personal-content__title button, .app-content__main-page__content__history button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  user-select: none;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin-left: 1%;
}

.app-main-page__content__personal-content__title  button:hover, .app-content__main-page__content__history button:hover{
  background: rgba(255,255,255,.2);
  cursor: pointer;
}
  
.app-main-page__content__personal-content__title  button:active, .app-content__main-page__content__history button:active{
  background: red;
  cursor: pointer;
  color: white;
}

.app-main-page__content__personal-content p{
  padding: 10px;
}

.app-main-page__content__personal-content__title h2{
  padding-left: 20px;
  padding-right: 20px;
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 40px;
  background-color: red;
  border: 2px solid;
  border-left: 0;
  border-right: 0;
}


.app-main-page__content__personal {
  padding-left: 20px;
}

.app-main-page__content__personal button{
  display: inline-flex;
  margin-left: 5px;
  padding: 10px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  user-select: none;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.app-main-page__content__personal button:hover{
  background: rgba(255,255,255,.2);
  cursor: pointer;
}
  
.app-main-page__content__personal button:active{
  background: black;
  cursor: pointer;
  color: white;
}

.app-main-page__content__personal__close{
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.app-content__main-page__content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.app-content__main-page__content img{
  width: 600px;
  height: 400px;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.app-main-page__content__personal-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-main-page__content__personal-content__info{
  width: 70%;
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: white;
}

.app-content__main-page__content__history{
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.app-content__main-page__content__history h2{
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 35px;
  background-color: red;
  padding: 20px;  
  border: 2px solid;
  color: white;
}

.app-content__main-page__content__history p{
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
  padding: 20px;
  border: 2px solid;  
}

.app-greetings-page__content{
  display: flex;
  flex-direction: column;
  z-index: 15;
  position: absolute;
  width: 300px;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 20px;
}

.app-greetings-page__content:hover{
  background-color: red;
  color: black;
}

.app-greetings-page__content h2{
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-greetings-page__content h2:hover{
  color:white;
}

.app-greetings-page__content p{
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.app-greetings-page__content p:hover{
  color: white;
}

.app-greetings-page__content button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 20px;
}

.app-content__main-page__content__history__anchor{
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border: 2px solid;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-color: red;
  position: fixed;
}

.app-content__main-page__content__history__anchor a{
  text-decoration: none;
  color: black;
  font-size: 50px;
}

.app-content__main-page__content__history__anchor:hover{
  cursor: pointer;
  background-color: red;
}

.app-content__main-page__content__personal-content__anchor{
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border: 2px solid;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-color: red;
  position: relative;
}

.app-content__main-page__content__personal-content__anchor a{
  text-decoration: none;
  color: black;
  font-size: 50px;
}

.app-content__main-page__content__personal-content__anchor:hover {
  cursor: pointer;
  background-color: red;
}